{% extends "layout.html" %}

{% block content %}
   <div class="about">

   	<div class="w3-row-padding">
	<div class="w3-third">
	<div class="w3-card-2">
	  <img src="static/jpg/Walking.jpg" style="width:100%">
	  <div class="w3-container">
	  <p>May 12th, 2016</p>
	  </div>
	</div>
	</div>

	<div class="w3-twothird w3-container">
	  <h2 class "h2Class">Recent Graduate</h2>
	  <p class="body">
	  	In May 2016, I graduated from George Mason University in Fairfax, VA 
	  	with a bachelor's of science degree in Computer Science after 4 years.
	  </p>
	</div>

 {% endblock %}


 